[Unit]
Description=dispense
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/dispense.py
PIDFile=/var/run/dispense.pid

[Install]
WantedBy=default.target
